body{
  text-align: center;
  background: url("img/background2.jpg")
}
h1{
  height: 50px;
}
h2{
  background: no-repeat url("img/table.png");
  background-size: 1700px 850px;
  background-position: center;
  height: 850px;
  width: 1700px;
  margin: auto;
}
div{
  margin: auto;
}
.dealer{
  font-size: 20px;
  display: inline-flex;
  margin-top: 150px;
}
.DealerCards{
  width: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top:auto;
}
.you{
  font-size: 20px;
}
.PlayerCards{
  width: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.pile{
  height: 130px;
  width: 120px;
  display: flex;
  position: relative;
  top: 370px;
  left: 1300px;
}
.scoreDealer{
  font-size: 15px;
  display: flex;
  position: relative;
  top:180px;
  left:500px;
}
.scorePlayer{
  font-size: 15px;
  display: flex;
  position: relative;
  top: 420px;
  left: 500px;
}
